extends layout

block content
  h1= title

  div#list
    ol
      each nick in top
        li#item
          span.nick #{nick.nick}
          span.count #{nick.count}

  div#service
    p Service up since #{startTime}

  div#footer
    p Created by #[a(href='https://venatiodecorus.gitlab.io') octopus] | A Salt Gang project