@import url(https://tools-static.wmflabs.org/fontcdn/css?family=Raleway:700);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 100px;
  font-family: 'Raleway', sans-serif;
  color: #a0f0ff;
  text-align: center;
}

html {
  background-color: #76cffb;
}

#service {
  text-align: center;
}

#item {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background: #50d7ff;
}

#item:nth-child(odd) {
  background: #85f598;
}

#footer {
  text-align: center;
}

#list {
  text-align: center;
  margin-bottom: 100px;
}

.count {
  margin-left: 30px;
}